@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro);

body {
    text-align: center;
    font-family: 'Crimson Pro', cursive;
	font-size: 48px;
    
    background: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
  }
  .btn {
    box-shadow:inset 0px 1px 0px 0px #dedede;
    background:linear-gradient(to bottom, #ffffff 5%, #969696 100%);
    background-color:#ffffff;
    border:1px solid #00b3ff;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:8px 21px;
    text-decoration:none;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #969696 5%, #ffffff 100%);
    background-color:#969696;
  }
  .btn:active {
    position:relative;
    top:1px;
  }
  img{
    margin: 40px;
    border: 1px solid #00b3ff;
    padding: 10px;
    height: 40vh;
    width: auto;
  }  
  h1 {
    animation-name: fade-in;
    animation-duration: 1s;
  }