@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro);

body {
    display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-family: 'Crimson Pro', cursive;
	font-size: 22px;
	color: #00b3ff;
    
    background: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
  }
  .btn {
    box-shadow:inset 0px 1px 0px 0px #dedede;
    background:linear-gradient(to bottom, #ffffff 5%, #969696 100%);
    background-color:#ffffff;
    border:1px solid #00b3ff;
    display:inline-block;
    cursor:pointer;
    color:hsl(0, 90%, 43%);
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:8px 21px;
    text-decoration:none;
	animation-name: fade-in;
	animation-duration: 2s;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #969696 5%, #ffffff 100%);
    background-color:#969696;
  }
  .btn:active {
    position:relative;
    top:1px;
  }
  
  h1,h2{
  max-width: 800px;
  line-height: 1.5;
  animation-name: fade-in;
  animation-duration: 2s;
}
  
  img{
    margin: 40px;
    border: 1px solid #00b3ff;
    padding: 10px;
    height: 40vh;
    width: auto;
	animation-name: fade-in;
	animation-duration: 2s;
  } 
  
  @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sign {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	justify-content: none;
}
.sign:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.sign:active {
	position:fixed;
	top:1px;
}