@import url(https://fonts.googleapis.com/css2?family=Eurostile);

body {
    display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  font-family: eurostile,sans-serif;
	font-size: 22px;
	color: #00b3ff;
    
    background: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
  }
  .btn {
    box-shadow:inset 0px 1px 0px 0px #dedede;
    background-color:transparent;
    border:1px solid #00b3ff;
    display:inline-block;
    cursor:pointer;
    color: #00b3ff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:8px 21px;
    text-decoration:none;
	  animation-name: fade-in;
	  animation-duration: 2s;
  }
  .btn:hover {
    background-color:hsla(17, 100%, 51%, 0.384);
  }
  .btn:active {
    position:relative;
    top:1px;
  }
  
  h1,h2{
  max-width: 800px;
  line-height: 1.5;
  animation-name: fade-in;
  animation-duration: 2s;
  }
  
  img{
    margin: 40px;
    border: 1px solid #00b3ff;
    padding: 10px;
    height: 40vh;
    width: auto;
	  animation-name: fade-in;
	  animation-duration: 2s;
  } 
  
  @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
  }

  .signature{
    background-color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0px;
    right: 20px;
    width: 150px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 5px 5px 5px 0px #000000;
  }

  .signature a{
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 10px;
  }

  .signature:hover{
    background-color: #006b99;
  }

  .blinktitle{
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    font-family: eurostile,sans-serif;
    font-size: 50px;
  }